.profile-img {
    box-sizing: border-box;
    border-radius: 50%;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.behind-content {
    z-index: 0;
}
.display-inline {
    display:inline-block;
    vertical-align:top;
}
.inline-spread {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    vertical-align: middle;
}
