.strength-bean {
  width: 25%;
  height: 3px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.bean-1 {
  background-color: rgb(99, 0, 0);
}

.bean-2 {
  background-color: rgb(255,69,0);
}

.bean-3 {
  background-color: rgb(255, 165, 0);
}

.bean-4 {
  background-color: rgb(154, 205, 50);
}
